services:
  postgres:
    image: postgres:15
    container_name: postgres_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: stockmaster_user
      POSTGRES_PASSWORD: stockmaster_password
      POSTGRES_DB: stockmaster_db

volumes:
  postgres_data: